{% extends 'deelnemer.html.twig' %}

{% form_theme form _self %}
{% block button_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('btn-primary') ~ ' btn')|trim}) -%}
    {%- if label is not same as(false) and label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>

{%- endblock button_widget %}
{% block form_group_class -%}
    col-sm-6
{%- endblock form_group_class %}

{% block menu %}
    <li><a href="{{ path('activiteiten') }}">home</a></li>
    <li><a href="{{ path('edit_profile') }}">profiel</a></li>
    <li class="active"><a href="{{ path('edit_password') }}">wachtwoord</a></li>
{% endblock %}

{% block content %}
    <h3>Wachtwoord wijzigen</h3>
    {{ form(form) }}
{% endblock %}